<div class="row">
    <div class="col-md-12">
        <i class="fa"
           *ngFor="#index of range"
           [ngClass]="index <= rate ? 'fa-star' : 'fa-star-o'"
           (click)="clicked(index)"></i>
    </div>
</div>