<h2>Habits list</h2>

<div class="col-xs-12">
    <div *ngFor="#item of habits" style="border-top: 1px solid" class="row">
        <div class="col-xl-9">
            <p>{{item.title}}</p>
        </div>
        <div class="col-xl-3 rating-panel">
            <ratings [rate]="getActualRate(item)" (newRate)="newRate(item, $event)"></ratings>
        </div>
    </div>

</div>


<instant-input (newItemEvent)="addHabit($event)"></instant-input>
